.sec {
    background-color: deepskyblue;

    .container1 {
        // margin:90px 10px;
        padding: 5% 15%;
        display: flex;
        justify-content: center;

        .box1 {
            border: 2px solid #61dafb;
            color: white;
            border-radius: 20px;
            margin: 40px 40px 0;
            padding: 30px;
            background-color: #282c34;
            background-image: url("../Images/33.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        }
        .select{
            width: 50%;
            height: 35px;
            background-color: #282c34;
            color: white;
            border-radius: 10px;
            text-align: center;

        }

        p {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 3rem;
        }

        h4 {
            display: flex;
            justify-content: center;
            color: #61dafb;
            font-size: 1.5rem;
            margin: 8px;
        }

        input {
            border: none;
            border-radius: 5px 5px 0 0;
            background-color: transparent;
            background-color: #282c34;
            color: white;
            border-bottom: 2px solid #61dafb;
            height: 40px;
            width: 50%;
            text-align: center;
        }

        input::placeholder {
            color: white;
        }
        button {
            border-radius: 7px;
            height: 40px;
            width: 50%;
            background-color:#282c34;
            border: 2px solid white;
            color: white;
            font-weight: 700;
            cursor: pointer;
        }

        button:hover {
            background-color: rgb(6, 39, 88);
            color: cyan;
            font-weight: 100;
        }
    }
}

// other section
.data{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 5%;

    .sign-box1{
        border: 2px solid white;
        padding: 30px;
        width: 50%;
        box-shadow: 0 2rem 1.5rem rgb(33, 44, 44);
        margin: auto;
    }
    h1 {
        font-weight: bold;
        color: #282c34;
        margin: 0 0 10px 0;
    }
    h3 {
        display: flex;
        margin-bottom: 10px;
        margin: 11px 40px;
        font-size: 25px;
    }

    span {
        font-weight: 300;
        margin-left: 10px;
        color: black;
    }

    button {
        border-radius: 7px;
        height: 40px;
        width: 50%;
        background-color: darkblue;
        color: white;
        font-weight: 700;
        cursor: pointer;
    }

    p {
        color: white;
    }

    p:hover {
        font-weight: 500;
    }

    button:hover {
        background-color: rgb(6, 39, 88);
        color: chartreuse;
    }
}
